*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}

body{
    border-radius: 2px 0;
    text-align: center;
    margin: 0.5em;
   
}

nav{
    border: 2px solid black;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 400px;
    font-size: 2rem;
    line-height: 6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    padding: 2em;
    background-color: aquamarine;
    border-top-right-radius: 2rem ;
    border-top-left-radius: 2rem;
}

ul li{
    list-style-type: none;
    border-top: 1px solid black;
    
}

li a{
    display: block;
}

li a,
li a:visited{
    color: grey;
    text-decoration: none;
}

li a:hover,
li a:focus{
    background-color: grey;
    color: whitesmoke;
    
}

li:last-child a{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


